/*----------------genealogy-scroll----------*/

.genealogy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  .genealogy-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
  }
  .genealogy-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
  }
  .genealogy-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
  }
  
  
  /*----------------genealogy-tree----------*/
  .genealogy-body{
    overflow-y: hidden;
    padding: 10px;
    min-height: 500px;
    padding-top: 10px;
    text-align: center;
  }
  .genealogy-tree{
  display: inline-block;
  }
  .genealogy-tree ul {
    padding-top: 0px;
    position: relative;
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
  .genealogy-tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 0px 0px 0px;
  }
  .genealogy-tree li::before, .genealogy-tree li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
  height: 18px;
  }
  .genealogy-tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
  }
  .genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before {
    display: none;
  }
  .genealogy-tree li:only-child{
    padding-top: 0;
  }
  .genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after{
    border: 0 none;
  }
  .genealogy-tree li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
  }
  .genealogy-tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
  }
  .genealogy-tree ul ul::before{
    content: '';
    position: absolute; top: -20px; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
  }
  .genealogy-tree li a{
    text-decoration: none;
    color: #666;
    font-family: raleway;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  .genealogy-tree li a:hover+ul li::after,
  .genealogy-tree li a:hover+ul li::before,
  .genealogy-tree li a:hover+ul::before,
  .genealogy-tree li a:hover+ul ul::before{
    border-color:  #fbba00;
  }
  
  /*--------------memeber-card-design----------*/
  .member-view-box{
    padding:0px 20px;
    margin-top:-70px;
    text-align: center;
    border-radius: 4px;
    position: relative;
  
  }
  .member-image{
    width: 175px;
    position: relative;
    text-align: center;
  }
  .member-details{
   margin-top:-100px;
   text-align: center;
  }
  
  #body {
  width: 100%;
  height: 100%;
  }
  
  .title {
    height: 80%;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title h3{
    font-style: bold;
    top: 30px;
    left:2%;
    font-size: 140%;
    text-align:center;
    position: relative;
    margin:0 auto;
    width: 100%;
    line-height: 0.9;
    color: white;
    padding: 0px 10px;
   animation: typing 2s steps(22), blink .5s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   border-right: 2px solid;
  }
  
  /*title text animation*/
  @keyframes typing {
    from {
      width:0
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  .member-details h4{
  font-style: bold;
  color: #ECF0F1;
   font-family:raleway;
   font-size:15px;
   font-weight:800;
   line-height:normal;
  }
  .member-details h5{
    color: #CCC9C3;
   margin-top:-15px;
   font-family:raleway;
   font-size:12px;
   font-weight:bold;
   padding-bottom:1px;
  }
  
  .music button{
    float: right;
    top: 30px;
    right: 25px;
    margin:auto;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
  }
  
  .music button::before{
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 0;
      height: 10px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 6px solid;
      top: 4px;
      left: 7px
  }
  